 body{
    font-family: 'Poppins', sans-serif;
 }
 .header-background{
     background-color: paleturquoise;
     height: 600px;
 }
 a{
     text-decoration: none;
 }
 a:hover{
     text-decoration: none;
 }
 li{
    list-style: none;
 }
.container{
    padding: 10px;
    margin: auto;
}
.container .navbar-brand .logo{
    height: 40px;
}
.sign-button{
    text-decoration: none;
    background-color: green;
    padding: 2px 15px;
    border-radius: 50px;
    color: white;
}
.catagoris{
    width: 80px;
    height: 100px;
}
h5{
    margin-top: 10px;
}
.header-extradiv{
    width: 100%;
    height: auto;
    text-align: center;
    margin: 50px 0px;
}
.div-box{
    margin-top: 10px;
    margin-bottom: 50px;
    border: medium none;
    background-color:white;
    padding: 5px!important;
    border-radius: 3px;
    transition: 0.3s;
}
.div-box:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transform: translateY(-20px);
}

.row img{
    width: 50px;
    margin-top: 50px;
}
/* section  */
.action-p{
    color: orangered;
}
span{
    color: rgb(36, 163, 36);
}
.col-lg-8 img{
    width: 95%;
    
    top: -14rem;
    right: +6%;
}
.card-body{
    text-align: left;
}
.card{
   box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
}
.half-width{
    width: 40%;
    height: 200px;
    float: left;
    margin-top: 100px;
    text-align: left;
}
.half-width img{
    width: 110px;
    margin-left: 360px;
}
.footersection{
    margin-top: 400px;
}